@import '../utils/variables.scss' ;
@import '../utils/mixins.scss';

form {
    background-color: #f3e780;
    padding:18px;
    border-radius: 10px;
    margin-bottom: 32px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
    color: #a66dd2;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom:8px;
    border: 1px solid;
    border-radius: 5px;
}

button {
    background-color: #9b5ea0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
